<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patrocinio</title>
</head>

<body>
  <div id="descripcion">
    <h4>Carta de Patrocinio</h4><br>
    <p>
      Aca podra generar sus cartas y certificados necesarios para cumplir los tramites asociados.
    </p>
  </div>
  <div id="resaltado">
    <h5>A quien va dirigida</h5>
  </div>
  <div id="contenido">
    <input type="checkbox"> A quien pueda interesar.
    <input type="checkbox"> A esta persona.
    <h5>Titulo</h5>
    <input type="checkbox"> Señor.
    <input type="checkbox"> Señora.
    <input type="checkbox"> Señores.
    <br>
    Nombre <br> <input size="60" type="text">
    <br>
    Apellido <br> <input size="60" type="text">
    <br>
    Cargo <br> <input size="60" type="text">
    <div id="resaltado">
      <h5>A donde va dirigida</h5>
    </div>
    Organizacion <br> <input size="60" type="text">
    Direccion <br> <input size="60" type="text">
    Detalles (Apt,ofc,bloq,tec) <br> <input size="60" type="text">
    Ciudad <br> <input size="60" type="text">
    <br>
    Pais <br> <input size="60" type="text">
    <br>
    <br>
    <div id="resaltado">
      <h5>En que idioma</h5>
    </div>
  </div>
  <div class="row">
    <div class=col-sm-4>
      <input type="checkbox"><br>
      <input type="checkbox"><br>
      <input type="checkbox"><br>
      <input type="checkbox"><br>
    </div>
    <div class="col-sm-4">
      <a class="">Español</a>.
      <a class="">Frances</a>.
      <a class="">Ingles</a>.
      <a class="">Aleman</a>.
    </div>
  </div>
  <br>
  <div id="resaltado">
    <h5>¿ Cual Carta ?</h5>
  </div>
  <div class="row">
    <div class=col-sm-6>
      Universidades y otros
      <br>
      Universidades y otros (IUR)
      <br>
      Embajada con presupuesto
      <br>
      Embajada y otros sin presupuesto
      <br>
      Certificacion bancos
      <br>
      Universidad y otros (CAD)
      <br>
      Universidad y otros (GBP)
      <br>
      Universidad y otros (AUD)
      <br>
      Practica Profesional
    </div>
    <div class="col-sm-2">
      Ver
      <br>
      Ver
      <br>
      Ver
      <br>
      Ver
      <br>
      Ver
      <br>
      Ver
      <br>
      Ver
      <br>
      Ver
      <br>
      Ver
    </div>
    <div class="col-sm-4">
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF
      <br>
      Generar RTF

      </div>
  </div>
</body>

</html>